.showTimes__logo {
  min-width: 100%;
}

.showTimes__logo--item {
  display: block;
  width: 50px;
  height: 50px;
}

.showTimes__branch::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: calc(100% - 40px);
  transform: translateX(-50%);
  border-bottom: 1px solid #fff;
  border-color: rgba(238, 238, 238, 0.88);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.showTimes__branch .MuiTab-wrapper {
  width: 100%;
  display: block;
  text-transform: none;
  line-height: 1.4;
}

.showTimes__branch .MuiTab-wrapper h2 {
  font-size: 14px;
  margin: 0;
  color: #8bc541;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.showTimes__branch .MuiTab-wrapper p {
  font-size: 12px;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.showTimes__branch .MuiTab-wrapper a {
  font-size: 14px;
  text-decoration: none;
  color: red;
}
/*# sourceMappingURL=style.css.map */