.header {
  position: fixed;
  z-index: 5;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  z-index: 9;
  &__logo {
    width: 50px;
  }
  &__destop {
    flex: 1;
    &--right {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
    }
  }
  &__mobile {
    display: none;
    position: absolute;
    right: 0;
    width: 350px;
  }
  @media (max-width: 768px) {
    &__destop {
      display: none;
    }
    &__mobile {
      display: block;
    }
  }
}
