.carousel {
  position: relative;
  &__slider {
    &--item {
      position: relative;
      & .img {
        height: 750px;
        width: 100%;
      }
      & .icon {
        position: absolute !important;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        display: none;
        opacity: 1;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        cursor: pointer;
        &:hover {
          opacity: 0.8;
        }
      }
    }
    &--dots {
      position: absolute;
      bottom: 8%;
      display: block;
      width: 100%;
      padding: 0;
      margin: 0;
      list-style: none;
      text-align: center;
      & li {
        display: inline-block;
        position: relative;
        margin: 0 5px;
        padding: 0;
        outline: none;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        cursor: pointer;
        & button {
          font-size: 0;
          width: 20px;
          height: 20px;
          border: none;
          outline: none;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          cursor: pointer;
          &:focus {
            outline: none;
          }
        }
      }
      & .slick-active {
        & button {
          background-color: red;
          outline: none;
        }
      }
    }
    &:hover {
      .icon {
        display: block;
      }
    }
  }
  &__icon {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    &--img {
      display: block;
      width: 100%;
    }
  }
  & .right {
    left: unset;
    right: 2px;
  }
}
